@font-face {
  font-family: 'Cantarell';
  src: local('Cantarell'), local('Cantarell Regular'),
  url(../fonts/Cantarell-Regular.otf);
}

@font-face {
  font-family: 'Cantarell';
  font-weight: bold;
  src: local('Cantarell'), local('Cantarell Bold'), local('Cantarell-Bold'),
  url(../fonts/Cantarell-Bold.otf);
}

