/**
 * Styles that are not a part of page layout.
 *
 * For example:
 *  Fonts
 *  Sizes
 *  Decoration
 *  Separators
 */
body {
  font-family: verdana, arial, sans-serif;
}

/*div#content {
	max-width: 50em;
}*/

div#global_domain_bar a {
    	color: #2E3436;
    	font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
   	font-size: 14px;
    	line-height: 1.6;
}

div#content a {
	color: #3465a4;
	border-bottom: 1px dotted #888;
	text-decoration: none;
}

div#content a:hover {
	border-bottom: 1px solid #888;
}


body {
    font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #2e3436;
}

body.win {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #2e3436;
}

body.win h1, body.win h2, body.win h3, body.win h4, body.win h5, body.win h6 {
    font-family: "Trebuchet MS";
}

h1, h2, h3, h4, h5, h6, dt {
    color: #0489B7;
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 25px;
}
h3, dt {
    font-size: 21px;
    margin: 0.4em 0 0.5em;
    color: #2E3436;
}
dt {
    color: #E36615;
}
dt a:hover {
    color: #fa7721;    
}
h4 {
    font-size: 16px;
    color: #ce5c00;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
ol {
    list-style:decimal;
}
ul {
    list-style:square;
}
li {
    margin-left:30px;
}
dl,dt,h1,h2,h3,h4,h5,h6,pre,table,address,fieldset {
    margin: 0.8em 0 0.4em;
}
p, dd, .action_box, ul, ol {
    margin: 0.4em 0 1em;
}
code {
    background: #ececec;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 1px;
}


/* Text classes */
/* ========================================================================== */

.highlight {
    background: yellow;
}

.main_feature {
    font-size: 16pt;
    line-height: 130%;
}

.footnotes {
    font-size: 11px;
    color: #888a85;
}
.footnotes a {
    color: #888a85;
}

.more {
    background: url(../images/more-arrow.png) right 6px no-repeat;
    cursor: pointer;
    white-space: nowrap;
    padding-right: 10px;
    text-decoration: none;
}
.more {
    text-decoration: underline;
}

#footer {
    font-size: 12px;
    line-height: 1.4em;
}


/*  lists  */

div#page .list {
  margin-top:.5em;
}
div#page .list tr td {
  padding:.2em;
  text-align:left;
}
div#page .list td label {
  border-bottom:1px dashed #999;
  font-weight:normal;
}
div#page .list th {
  background: #ccf;
  border: 1px solid #000;
  font-weight: bold;
  padding: 2px;
}
div#page .list th a {
  display: block;
  padding:.2em 1.2em .2em .2em;
  text-align: left;
}
div#page .list th a:hover {
  background-color: #fff;
}
.row1 {
  background-color: #eee;
}
.row2 {
  background-color: #ddd;
}
.row1:hover, .row2:hover {
  background-color: #fff;
}

.record th {
  text-align: right;
}

/* styling page content */

h1 {
	font-size: 1.5em;
	color: #3f3f3f;
}

/* styling form widgets like bugzilla.gnome.org */
input,textarea {
 border: 1px solid #6f6f6f;
/* background: #dddddd; */
}

input.login_small {
 border-style: none;
}

input:focus,textarea:focus {
  background-color: #f7f2d0;
  color: #000000;
}

/* select {
 border: groove
} */

option {
 border: 0px none #ffffff;
}

input[type=radio] {
  margin-left: 1em;
}




/* Footer Grass */

#footer_grass {
    background: url(https://www.gnome.org/wp-content/themes/gnome-grass/images/grass.png) top center repeat-x;
    height: 39px;
    margin-top: -33px;
}

#footer_community {
    background: url(https://www.gnome.org/wp-content/themes/gnome-grass/images/footer_arts/community.png) center no-repeat;
    height: 180px;
    margin-top: -33px;
}

/* Syntax highlighting */

table.blob .num  { color:#2928ff; }
table.blob .esc  { color:#ff00ff; }
table.blob .str  { color:#ff0000; }
table.blob .dstr { color:#818100; }
table.blob .slc  { color:#838183; font-style:italic; }
table.blob .com  { color:#838183; font-style:italic; }
table.blob .dir  { color:#008200; }
table.blob .sym  { color:#000000; }
table.blob .kwa  { color:#000000; font-weight:bold; }
table.blob .kwb  { color:#830000; }
table.blob .kwc  { color:#000000; font-weight:bold; }
table.blob .kwd  { color:#010181; }

table.list td a.ls-dir {
	color: #0000FF;
	font-weight: bold;
}
